
/*hearder*/
#header-nav {
	background-color: #888888;
	border:0;
	border-radius: 0;
}

.navbar-brand h1 {
   	margin:0;
    color: black;
   }

.navbar-brand {
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top:0;
	margin-bottom: 0;
	height: 100px;
	line-height: .75;
}

@media(min-width: 1200px) {

}

@media(min-width: 992px) and (max-width: 1199px) {
	
}

@media(min-width: 768px) and (max-width: 991px) {
	
}

@media(max-width: 767px)  {
	
}

@media (max-width: 479px){

}


#nav-list {
    text-align: center;
}

#nav-list hr {
	margin:0;
	color: #000;
    background-color: #000;
    height: 1px;
}
/* end header*/

/*body*/
.content {
	background-color: #888888;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	border: 2px solid black;
}
.content section {
	position: absolute;
	right: 0;
	width: 100%;
	font-weight: bold;
	color: #000000;
	top: 0;
	text-align: center;
}

.content p {
	padding-top: 30px;
	color: #000000;
}
/*end body*/